.roulette-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 5px solid #e41f49;
  border-radius: 11px;
  padding: 7px 10px;
  background: white;
}

.roulette-main {
  margin: 15px 0;
}

.roulette-main .roulette-wrapper .text-center {
  text-align: center !important;
}

.roulette-wrapper .column {
  display: flex;
  flex-direction: column;
  max-width: 48%;
  width: 100%;
}

@media screen and (max-width: 567px) {
  .roulette-wrapper .column {
    max-width: none;
  }
}

.roulette-wrapper .input-number {
  margin-bottom: 10px;
  font-size: 17px;
  padding: 3px;
}

.roulette-wrapper .button-select-header {
  font-weight: bold;
  margin: 10px 0 10px;
  font-size: 17px;
}

.roulette-wrapper .buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.roulette-wrapper .buttons .type-button {
  border: none;
  color: #fff;
  padding: 8px;
  cursor: pointer;
  line-height: 1.25;
  border-radius: 3px;
  font-size: 16px;
  height: 36px;
  margin: 5px;
  width: 120px;
  flex: 1 0 21%;
}

.roulette-wrapper .expected-amount {
  font-weight: bold;
}

.roulette-wrapper .expected-amount-wrapper {
  font-size: 16px;
  margin-top: 5px;
}

.roulette-wrapper .expected-amount.red {
  color: #e41f49;
  font-weight: bold;
}

.roulette-wrapper .expected-amount.green {
  color: #567717;
  font-weight: bold;
}

.roulette-wrapper .buttons .buttons-row.different-count .type-button {
  flex: 1 0 11%;
}

@media screen and (max-width: 567px) {
  .roulette-wrapper .buttons .type-button {
    flex: 1 0 30%;
  }
}

.roulette-wrapper .buttons .buttons-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .roulette-wrapper .buttons .buttons-row.two-in-a-row .type-button {
    flex: 1 0 42%;
  }
}

.roulette-wrapper .input-number-label {
  display: block;
  font-weight: bold;
  margin: 12px 0;
  border-bottom: 2px solid #e41f49;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 17px;
}

.roulette-wrapper .input-number-label:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 12px 0 12px;
  border-color: #e41f49 transparent transparent transparent;
  margin: auto;
}

.roulette-wrapper .calculations-title {
  display: block;
  font-size: 17px;
  font-weight: bold;
  margin: 12px 0;
  border-bottom: 2px solid #e41f49;
  width: 100%;
  text-align: center;
}

.roulette-wrapper .outcome {
  display: flex;
  flex-direction: column;
}

.roulette-wrapper .outcome .equation {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.d-flex {
  display: flex;
}

.roulette-wrapper .outcome .bigger-equation {
  display: flex;
  align-items: center;
  width: 100%;
}

.roulette-wrapper .expected-return {
  display: block;
  font-weight: bold;
  margin: 12px 0;
  border-bottom: 2px solid #e41f49;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 17px;
}

.roulette-wrapper .results {
  flex-direction: column;
  font-size: 20px;
}

.bigger-font-size {
  font-size: 15px;
}

.flex-row {
  flex-direction: row;
}

.highlight-text {
  color: #e41f49;
  font-weight: bold;
}

.line-hr {
  height: 1px;
  background: black;
}

.success-percentage {
  color: black;
  font-weight: bold;
}

.win-results {
  color: #567717;
  font-weight: bold;
}

.game-type-name {
  font-size: 17px;
  margin-bottom: 5px;
  color: white;
  padding: 4px 0;
}

.game-type-name.black {
  background-color: black;
}

.game-type-name.red {
  background-color: #e41f49;
}

.type-button.type-button-black.selected {
  outline: #e41f49 auto 1px;
  outline-color: #e41f49;
  outline-style: auto;
  outline-width: 1px;
}

.selected {
  outline: #000000 auto 1px;
  outline-color: #000000;
  outline-style: auto;
  outline-width: 1px;
}

.line-hr.smaller {
  width: calc(100% - 57px);
  align-self: center;
}

.w-100 {
  width: 100%;
}

.roulette-wrapper .bold {
  font-weight: bold;
}

.expected-results {
  font-size: 15px;
}

@media screen and (max-width: 567px) {
  .expected-results.position-fixed {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    color: white;
  }

  .expected-results.position-fixed .expected-return {
    margin: 3px 0;
    padding: 2px 0;
  }

  .expected-results.position-fixed .results {
    padding: 3px 0 6px;
  }

  .expected-results.display-visible {
    display: block !important;
  }
}

.expected-results.display-hidden {
  display: none;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

@media screen and (max-width: 567px) {
  .visibility-hidden {
    visibility: hidden;
  }

  .visibility-visible {
    visibility: visible;
  }
}

.red-text {
  color: #e41f49;
  font-weight: bold;
}

.type-button-red {
  background-color: #e41f49;
}

.type-button-green {
  background-color: #567717;
}

.type-button-black {
  background-color: #000000;
}

.type-button-orange {
  background-color: #ec8500;
}

.type-button-blue {
  background-color: #3f7ac6;
}
