<template>
  <div>
    <v-form ref="form" v-if="form">
      <div class="d-block d-md-flex justify-space-between flex-wrap">
        <FormField
          v-for="(field) in fields"
          v-if="field.visibleIf(form.data, null) && field.visibleIfAdditional"
          :key="field.key"
          :field="field"
          :form="form"
          :class="field.classes"
        />
      </div>
    </v-form>
  </div>
</template>
<script lang="ts">
  import { Component, Prop, Vue, Watch } from 'vue-property-decorator'
import FormBase from '@/shared/classes/form/form-base'
import FormField from '@/shared/components/form/FormField.vue'
import Field from '@/shared/classes/form/field'
import presetInitialFormValues from '@/shared/helpers/presetInitialValues.helper'

@Component({
  components: { FormField }
})
export default class Form extends Vue {
  @Prop() form!: FormBase
  @Watch('form.data', { deep: true }) private handeOnChange() {
    this.form.onChange && this.form.onChange(this.form.data)
  }

  created() {
    presetInitialFormValues(this.form)
  }

  get fields(): Field[] {
    return this.form.fields
  }
}
</script>
