<template>
  <div :class="`field-${ field.size }`">
    <component :is="getComponent(field.type)" :field="field" :form="form" />
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import { FieldTypes, fieldTypesMap } from '@/shared/components/form/field-types'
import Field from '@/shared/classes/form/field'
import FormBase from '@/shared/classes/form/form-base'

@Component
export default class FormField extends Vue {
  @Prop() field!: Field
  @Prop() form!: FormBase

  getComponent(type: FieldTypes) {
    if (fieldTypesMap.hasOwnProperty(type)) {
      return fieldTypesMap[type]
    }

    console.log(`${type} is not defined`)
  }
}
</script>
<style scoped lang="scss">
.field {
  width: 100%;

  @media screen and (min-width: 960px) {
    &-full {
      width: 100%;
    }

    &-half {
      width: calc(50% - 10px);
    }

    &-quarter {
      width: calc(25% - 10px);
    }
  }
}
</style>
