.guru-show-more {
  font-size: 16px;
  margin: 10px 0;
}

.guru-show-more a.button {
  display: inline;
  margin-left: 5px;
  color: #bc0d33;
  font-weight: bold;
}

.guru-show-more a.button:hover,
.guru-show-more a.button:focus {
  text-decoration: none;
  color: #d70000;
}

.guru-show-more a[data-show-less] {
  display: block;
  margin: 10px 0 0;

}

.guru-show-more .icon {
  margin: 0 0 0 3px;
}

.guru-show-more-full {
  display: none;
}

.guru-show-more-mobile, .guru-show-more-desktop {
  display: none;
}

@media screen and (max-width: 767px) {
  .guru-show-more-mobile {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .guru-show-more-desktop {
    display: block;
  }
}
