<template>
  <v-checkbox
    outlined
    color="primary"
    :label="field.title"
    v-model="value"
    :class="{
      'mt-1': true,
      [`${ field.classes }`]: true,
    }"
  />
</template>
<script lang="ts">
import { Component } from 'vue-property-decorator'
import AbstractField from '@/shared/classes/fields/abstract-field';

@Component
export default class CheckboxField extends AbstractField {
}
</script>
<style lang="scss">
  .v-input--checkbox {
    .v-label {
      position: initial !important;
    }
  }

  .checkbox-dense {
    label {
      height: auto !important;
      font-size: 14px !important;
    }
  }
</style>
