<template>
  <quillEditor ref="editor" v-model="value" :options="{
    placeholder: 'Type...',
    modules: {
      toolbar: toolbarOptions,
    },
    theme: 'snow'
  }" />
</template>
<script lang="ts">
import { Component } from 'vue-property-decorator'
import AbstractField from '@/shared/classes/fields/abstract-field'
import { quillEditor, Quill } from 'vue-quill-editor'
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'quill/dist/quill.bubble.css'
const ColorClass = Quill.import('attributors/class/color')
const SizeStyle = Quill.import('attributors/style/size')
const AlignClass = Quill.import('attributors/style/align');
Quill.register(ColorClass, true)
Quill.register(SizeStyle, true)
Quill.register(AlignClass, true)

@Component({
  components: { quillEditor }
})
export default class EditorField extends AbstractField {
  toolbarOptions = [
    ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
    ['link'],
    ['blockquote', 'code-block'],
    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
    [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
    [{ 'align': [] }],
    ['clean']                                         // remove formatting button
  ]
}
</script>
