<template>
  <v-autocomplete
    ref="autocomplete"
    outlined
    :label="field.title"
    v-model="value"
    :search-input.sync="searchKeyword"
    :items="items"
    :loading="loading"
    :dense="true"
    :hide-details="false"
    @change="changeValue"
    :menu-props="autocompleteMenuProps"
    item-text="title"
    item-value="value"
    @focusin="loadStartingData"
  >
    <template v-slot:selection>
      <div v-if="selectedItem" class="selected-item" v-text="selectedItem.title" />
    </template>
    <template v-slot:no-data>
      <v-list-item>
        <v-list-item-content>
          <v-progress-circular v-if="loading" color="primary" indeterminate />
          <v-list-item-title v-if="!loading && items.length === 0" v-text="`Duomenų nerasta`" />
        </v-list-item-content>
      </v-list-item>
    </template>
  </v-autocomplete>
</template>
<script lang="ts">
import { Component } from 'vue-property-decorator'
import AbstractField from '@/shared/classes/fields/abstract-field'
import SelectItem from '@/shared/classes/fields/select/select-item'
import axios from 'axios'
import _ from 'lodash'
_.noConflict()

@Component
export default class SearchableField extends AbstractField {
  items: SelectItem[] = []
  searchKeyword: string | null = ''
  selectedItem: SelectItem | null | undefined = null
  loading: boolean = false
  initialLoaded: boolean = false

  created() {
    const { loadItemsProps } = this.field

    if (! loadItemsProps.placeholder) return

    const item = new SelectItem().setValue(loadItemsProps.placeholder.value).setTitle(loadItemsProps.placeholder.title)
    this.items.push(item)
    this.selectedItem = item
  }

  async loadStartingData() {
    if (! this.initialLoaded) await this.search()
    this.initialLoaded = true
  }

  changeValue(value: string | null): void {
    if (! value) value = null
    this.selectedItem = this.items.find((item: SelectItem) => item.value === value)
    // if (this.selectedItem) this.items = [this.selectedItem]
    // if (! value) this.search()
    this.value = value
    this.value && this.autocompleteRef.blur()
  }

  private search() {
    const { loadItemsProps } = this.field

    if (! loadItemsProps.endpoint) return

    this.loading = true
    return axios
      .get(loadItemsProps.endpoint)
      .then((response: any) => response.data.data)
      .then((response: any) => {
        if (loadItemsProps.placeholder) this.items.push(
          new SelectItem()
            .setValue(loadItemsProps.placeholder.value)
            .setTitle(loadItemsProps.placeholder.title)
        )
        this.items.push(
          ...response.map((item: any) => new SelectItem()
            .setValue(_.get(item, loadItemsProps.value))
            .setTitle(_.get(item, loadItemsProps.title))
          )
        )
      })
      .finally(() => (this.loading = false))
  }

  setValue(value: string): void {
    this.value = value
  }

  get autocompleteMenuProps(): any {
    const defaultProps: any = {
      maxHeight: 304
    }

    if (this.$vuetify.breakpoint.smAndDown) {
      defaultProps.maxHeight = 130
    }

    return defaultProps
  }

  get autocompleteRef(): any {
    return this.$refs.autocomplete
  }
}
</script>
<style lang="scss">
.v-autocomplete {
  .menu-arrow {
    transition: 350ms all;
  }

  &.v-select--is-menu-active {
    .menu-arrow {
      transform: rotate(180deg);
    }
  }

  .selected-item {
    max-width: calc(100% - 1px);
  }
}
</style>
