<template>
  <div>
    <v-select
      outlined
      v-model="value"
      :label="field.title"
      autocomplete="new-password"
      :dense="true"
      :items="field.items"
      class="custom-select"
    >
      <template v-slot:selection="{ item }">
        {{ item.title }}
      </template>
      <template v-slot:item="props">
        <v-list-item @click="props.on.click" class="d-flex">
          <v-list-item-title v-text="props.item.title" />
          <v-list-item-title v-if="props.item.appendToTitle" v-text="props.item.value" />
        </v-list-item>
      </template>
    </v-select>
  </div>
</template>
<script lang="ts">
import { Component } from 'vue-property-decorator'
import AbstractField from '@/shared/classes/fields/abstract-field';

@Component
export default class SelectField extends AbstractField {}
</script>
