<template>
  <v-switch
    color="primary"
    v-model="value"
    :label="field.title"
    :class="{
      'mt-1': true,
      [`${ field.classes }`]: true,
    }"
  />
</template>
<script lang="ts">
import { Component } from 'vue-property-decorator'
import AbstractField from '@/shared/classes/fields/abstract-field';

@Component
export default class SwitchField extends AbstractField {}
</script>
