<template>
  <div>
    <v-text-field
      outlined
      :label="field.title"
      :dense="true"
      v-model="value"
    ></v-text-field>
  </div>
</template>
<script lang="ts">
import { Component } from 'vue-property-decorator'
import AbstractField from '@/shared/classes/fields/abstract-field'

@Component
export default class TextField extends AbstractField {}
</script>
