<template>
  <div class="guru-shortcodes-plugin">
    <v-app>
      <SmartbettingGuideTemplate v-if="isUrl('smartbettingguide')"/>
    </v-app>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import { Component } from 'vue-property-decorator'
import Form from '@/shared/components/form/Form.vue'
import SmartbettingGuideTemplate from '@/components/templates/smartbettingguide/SmartbettingGuideTemplate.vue'

@Component({
  components: { Form, SmartbettingGuideTemplate }
})
export default class App extends Vue {
  isUrl(url: string) {
    let value = false

    if (window.location.host.includes(url)) value = true

    return value
  }
}
</script>
