<template>
  <div>
    <v-dialog
      v-model="dialog"
      max-width="960px"
    >
      <template v-slot:activator="{ on }">
        <a v-on="on" class="thickbox button">Open shortcodes</a>
      </template>
      <v-card>
        <v-card-title class="headline">
          Shortcode generatorius
        </v-card-title>

        <div class="pa-4">
          <Form :form="form" v-if="form" />
          <h3 class="mt-2" v-text="shortcode" />
        </div>

        <v-card-actions>
          <v-btn
            color="primary"
            large
            @click="copy"
            :disabled="shortcode.length === 0"
          >
            Copy
          </v-btn>
          <v-btn
            large
            color="secondary"
            @click="generate"
          >
            Insert
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import FormBase from '@/shared/classes/form/form-base'
import SelectField from '@/shared/classes/fields/select/select-field'
import SelectItem from '@/shared/classes/fields/select/select-item'
import Form from '@/shared/components/form/Form.vue'
import SearchableField from '@/shared/classes/fields/select/searchable-field'
import Field, { FieldSizes } from '@/shared/classes/form/field'
import { FieldTypes } from '@/shared/components/form/field-types'
import _ from 'lodash'
import { generateUrl } from '@/shared/helpers/url.helper'
import axios from 'axios'

_.noConflict()

enum ShortcodeType {
  nonSelected = 'non-selected',
  bookmakerListing = '[bookmaker-listing]',
  topRatedBookmaker = '[top-rated-bookmaker]',
  otherRatedBookmakers = '[other-rated-bookmakers]',
  singleBookmaker = '[single-bookmaker]',
  topRatedBookmakerBestSites = '[top-rated-bookmaker-best-sites]',
  otherRatedBookmakersBestSites = '[other-rated-bookmakers-best-sites]',
  cryptoQuotes = '[crypto-quotes]',
  cryptoCalculator = '[crypto-calculator]',
  year = '[year]',
  lastYear = '[last_year]',
  guruShowMore = '[guru-show-more]',
  mobileOnly = '[mobileonly]',
  desktopOnly = '[desktoponly]',
  infographicShareButtons = '[infographic_share_buttons]',
  guruSportData = '[guru-sports-data]',
}

enum FieldKey {
  shortcodeType = 'shortcode-type',
  sport = 'sport',
  name = 'name',
  displayType = 'display-type',
  ratingSportType = 'rating-sport-type',
  trackerSportType = 'tracker-sport-type',
  license = 'license',
  depositMethod = 'deposit-method',
  cryptoDeposit = 'crypto-deposit',
  bookmakerType = 'bookmaker-type',
  additionalBettingSelections = 'additional-betting-selections',
  products = 'products',
  establishedFrom = 'established-from',
  sortBy = 'sort-by',
  showNew = 'show-new',
  showRestricted = 'show-restricted',
  showFirstOnly = 'show-first-only',
  hideShowMore = 'hide-show-more',
  title = 'title',
  simpleTitle = 'title-2',
  baseCurrency = 'base_currency',
  editor = 'editor',
  league = 'league',
  season = 'season',
  limit = 'limit',
  type = 'type',
  teamOne = 'team1',
  teamTwo = 'team2',
}

export enum SelectItemType {
  contentInside = 'content-inside',
}

@Component({
  components: { Form }
})
export default class SmartbettingGuideTemplate extends Vue {
  prefix = '/wp-json/guru-api/v1/'
  dialog = false
  data: any = []
  shortcode: string = ''
  form: FormBase = new FormBase()
    .setFields([
      new SelectField()
        .setKey('shortcode-type')
        .setTitle("Kokį shortcode'ą norite pridėti?")
        .setSize(FieldSizes.half)
        .setItems([
          new SelectItem().setValue(ShortcodeType.nonSelected).setTitle('Pasirinkite shortcode'),
          new SelectItem().setAppendToTitle(true).setValue(ShortcodeType.bookmakerListing).setTitle('TOP bendrovių reitingą (platus atvaizdavimas)'),
          new SelectItem().setAppendToTitle(true).setValue(ShortcodeType.topRatedBookmaker).setTitle('TOP 1 Bookmaker (siauras atvaizdavimas)'),
          new SelectItem().setAppendToTitle(true).setValue(ShortcodeType.otherRatedBookmakers).setTitle('Other Bookmakers (siauras atvaizdavimas)'),
          new SelectItem().setAppendToTitle(true).setValue(ShortcodeType.singleBookmaker).setTitle('Single bookmaker'),
          new SelectItem().setAppendToTitle(true).setValue(ShortcodeType.topRatedBookmakerBestSites).setTitle('TOP 1 bendrovė (pagal bendrą TOP reitingą)'),
          new SelectItem().setAppendToTitle(true).setValue(ShortcodeType.otherRatedBookmakersBestSites).setTitle('Kitos bendrovės (pagal bendrą TOP reitingą)'),
          new SelectItem().setAppendToTitle(true).setValue(ShortcodeType.cryptoQuotes).setTitle('TOP Cryptos'),
          new SelectItem().setAppendToTitle(true).setValue(ShortcodeType.cryptoCalculator).setTitle('Crypto Converter'),
          new SelectItem().setAppendToTitle(true).setValue(ShortcodeType.year).setTitle('Dabartiniai metai'),
          new SelectItem().setAppendToTitle(true).setValue(ShortcodeType.lastYear).setTitle('Praeiti metai'),
          new SelectItem().setAppendToTitle(true).setType(SelectItemType.contentInside).setValue(ShortcodeType.guruShowMore).setTitle('Išplėčiamas tekstas'),
          new SelectItem().setAppendToTitle(true).setType(SelectItemType.contentInside).setValue(ShortcodeType.mobileOnly).setTitle('Mobilus tekstas'),
          new SelectItem().setAppendToTitle(true).setType(SelectItemType.contentInside).setValue(ShortcodeType.desktopOnly).setTitle('Desktop tekstas'),
          new SelectItem().setAppendToTitle(true).setValue(ShortcodeType.infographicShareButtons).setTitle('Socialinių tinklų pasidalinimo mygtukai'),
          new SelectItem().setAppendToTitle(true).setValue(ShortcodeType.guruSportData).setTitle('Guru sports data'),
        ])
        .setOnChange((value: string, key: string) => this.handleOnChange(value, key)),
      new SearchableField()
        .setKey(FieldKey.sport)
        .setTitle("Sporto šaka (tracker'is ir reitingas)")
        .setSize(FieldSizes.half)
        .loadItems({
          endpoint: generateUrl(this.prefix, 'sport-branches'),
          value: 'value',
          title: 'title',
          placeholder: {
            title: 'TOP reitingas (be sporto šakos filtro)',
            value: 'non-selected',
          }
        }),
      new SearchableField()
        .setKey(FieldKey.name)
        .setTitle("Bendrovė")
        .setSize(FieldSizes.half)
        .loadItems({
          endpoint: generateUrl(this.prefix, 'bookmakers'),
          value: 'value',
          title: 'title',
          placeholder: {
            title: 'TOP reitingas (be sporto šakos filtro)',
            value: 'non-selected',
          }
        }),
      new SelectField()
        .setKey(FieldKey.displayType)
        .setTitle("Atvaizdavimo tipas")
        .setSize(FieldSizes.half)
        .setItems([
          new SelectItem().setValue('article').setTitle('Straipsnyje siauras'),
          new SelectItem().setValue('ratingwide').setTitle('Platus (su Pros)'),
          new SelectItem().setValue('ratingsmaller').setTitle('Platus (be Pros)'),
        ]),
      new SearchableField()
        .setKey(FieldKey.ratingSportType)
        .setTitle('Reitingo sporto šaka')
        .setSize(FieldSizes.half)
        .loadItems({
          endpoint: generateUrl(this.prefix, 'sport-branches'),
          value: 'value',
          title: 'title',
          placeholder: {
            title: 'TOP reitingas (be sporto šakos filtro)',
            value: 'non-selected',
          }
        })
        .setVisibleIf((values: any) => {
          return _.get(values, 'sport') === 'non-selected';
        }),
      new SearchableField()
        .setKey(FieldKey.trackerSportType)
        .setTitle("Tracker'io sporto šaka")
        .setSize(FieldSizes.half)
        .loadItems({
          endpoint: generateUrl(this.prefix, 'sport-branches'),
          value: 'value',
          title: 'title',
          placeholder: {
            title: 'TOP reitingas (be sporto šakos filtro)',
            value: 'non-selected',
          }
        })
        .setVisibleIf((values: any) => {
          return _.get(values, 'sport') === 'non-selected';
        }),
      new SearchableField()
        .setKey(FieldKey.license)
        .setTitle("Bendrovės, turinčios licenziją")
        .setSize(FieldSizes.half)
        .loadItems({
          endpoint: generateUrl(this.prefix, 'licenses'),
          value: 'value',
          title: 'title',
        }),
      new SearchableField()
        .setKey(FieldKey.depositMethod)
        .setTitle("Bendrovės, turinčios Deposit metodą (iš All Info duomenų)")
        .setSize(FieldSizes.half)
        .loadItems({
          endpoint: generateUrl(this.prefix, 'deposit-methods'),
          value: 'value',
          title: 'title',
          placeholder: {
            title: 'Be filtro',
            value: 'non-selected',
          }
        }),
      new SearchableField()
        .setKey(FieldKey.cryptoDeposit)
        .setTitle("Bendrovės, turinčios Crypto deposit metodą (iš All Info duomenų)")
        .setSize(FieldSizes.half)
        .loadItems({
          endpoint: generateUrl(this.prefix, 'cryptocurrencies'),
          value: 'value',
          title: 'title',
          placeholder: {
            title: 'Be filtro',
            value: 'non-selected',
          }
        }),
      new SearchableField()
        .setKey(FieldKey.bookmakerType)
        .setTitle("Bendrovės, turinčios Bookmaker type (iš All Info duomenų)")
        .setSize(FieldSizes.half)
        .loadItems({
          endpoint: generateUrl(this.prefix, 'bookmaker-types'),
          value: 'value',
          title: 'title',
          placeholder: {
            title: 'Be filtro',
            value: 'non-selected',
          }
        }),
      new SearchableField()
        .setKey(FieldKey.additionalBettingSelections)
        .setTitle("Bendrovės, turinčios Additional betting selections (iš All Info duomenų)")
        .setSize(FieldSizes.half)
        .loadItems({
          endpoint: generateUrl(this.prefix, 'betting-selections'),
          value: 'value',
          title: 'title',
          placeholder: {
            title: 'Be filtro',
            value: 'non-selected',
          }
        }),
      new SearchableField()
        .setKey(FieldKey.products)
        .setTitle("Bendrovės, turinčios Products (iš All Info duomenų)")
        .setSize(FieldSizes.half)
        .loadItems({
          endpoint: generateUrl(this.prefix, 'products'),
          value: 'value',
          title: 'title',
          placeholder: {
            title: 'Be filtro',
            value: 'non-selected',
          }
        }),
      new SelectField()
        .setKey(FieldKey.establishedFrom)
        .setTitle("Bendrovės, įkurtos nuo pasirinktų metų")
        .setSize(FieldSizes.half)
        .setItems([
          new SelectItem().setValue('non-selected').setTitle('Be filtro'),
          ...this.generateDates()
        ]),
      new SelectField()
        .setKey(FieldKey.sortBy)
        .setTitle("Rūšiuoti bendroves pagal")
        .setSize(FieldSizes.half)
        .setItems([
          new SelectItem().setValue('>rating').setTitle('Pagal reitingą (TOP viršuje)'),
          new SelectItem().setValue('<rating').setTitle('Pagal reitingą (blogiausios viršuje)'),
          new SelectItem().setValue('>year').setTitle('Pagal įkurimo metus (naujausios viršuje)'),
          new SelectItem().setValue('<year').setTitle('Pagal įkurimo metus (seniausios viršuje)'),
        ]),
      new Field()
        .setType(FieldTypes.switch)
        .setKey(FieldKey.showNew)
        .setSize(FieldSizes.half)
        .setTitle('Rodyti naują/as bendroves'),
      new Field()
        .setType(FieldTypes.switch)
        .setKey(FieldKey.showRestricted)
        .setSize(FieldSizes.half)
        .setTitle('Rodyti bendroves ir Restricted šalyse'),
      new Field()
        .setType(FieldTypes.switch)
        .setKey(FieldKey.showFirstOnly)
        .setSize(FieldSizes.half)
        .setTitle('Rodyti tik pirmą bendrovę'),
      new Field()
        .setType(FieldTypes.switch)
        .setKey(FieldKey.hideShowMore)
        .setSize(FieldSizes.half)
        .setTitle('Rodyti Show More mygtuką'),
      new Field()
        .setKey(FieldKey.title)
        .setShortcodeKey('title')
        .setClasses('mt-3')
        .setTitle('Shortcode pavadinimas viršuje (galioja tik siauras atvaizdavimui)'),
      new Field()
        .setKey(FieldKey.simpleTitle)
        .setShortcodeKey('title')
        .setTitle('Pavadinimas')
        .setSize(FieldSizes.half),
      new SearchableField()
        .setKey(FieldKey.baseCurrency)
        .setTitle('Pagrindinė valiuta')
        .loadItems({
          endpoint: generateUrl(this.prefix, 'crypto-currencies'),
          value: 'value',
          title: 'title',
          placeholder: {
            title: 'Pasirinkite valiutą',
            value: 'non-selected',
          }
        }),
      new Field()
        .setType(FieldTypes.editor)
        .setKey(FieldKey.editor),
      new SearchableField()
        .setKey(FieldKey.league)
        .setTitle('Lyga')
        .setSize(FieldSizes.half)
        .loadItems({
          endpoint: generateUrl(this.prefix, 'guru-sports-data-leagues'),
          value: 'value',
          title: 'title',
          placeholder: {
            title: 'Pasirinkite lygą',
            value: 'non-selected',
          }
        })
        .setOnChange((value: string) => {
          const seasonField: SelectField | any = this.form.fields.find((field) => field.key === FieldKey.season)
          const teamOneField: SelectField | any = this.form.fields.find((field) => field.key === FieldKey.teamOne)
          const teamTwoField: SelectField | any = this.form.fields.find((field) => field.key === FieldKey.teamTwo)
          _.set(this.form.data, FieldKey.season, 'non-selected')
          _.set(this.form.data, FieldKey.teamOne, 'non-selected')
          _.set(this.form.data, FieldKey.teamTwo, 'non-selected')

          axios.get(`${ generateUrl(this.prefix, 'guru-sports-data-league') }?league_title=${ value }`)
            .then((results: any) => {
              if (! results.data.seasons || ! results.data.teams) return

              const seasons: SelectItem[] = results.data.seasons.map((item: any) => new SelectItem().setValue(item.value).setTitle(item.title))
              const teams: SelectItem[] = Object.keys(results.data.teams).map((key: any) => new SelectItem().setValue(_.get(results.data.teams, key)).setTitle(_.get(results.data.teams, key)))

              seasonField.setItems([...seasonField.items.filter((item: SelectItem) => item.value === 'non-selected'), ...seasons])
              teamOneField.setItems([...teamOneField.items.filter((item: SelectItem) => item.value === 'non-selected'), ...teams])
              teamTwoField.setItems([...teamOneField.items.filter((item: SelectItem) => item.value === 'non-selected'), ...teams])
            })
        }),
      new SelectField()
        .setKey(FieldKey.season)
        .setSize(FieldSizes.half)
        .setTitle('Sezonas')
        .setItems([
          new SelectItem().setValue('non-selected').setTitle('Pasirinkite lygos sezoną'),
        ]),
      new Field()
        .setType(FieldTypes.number)
        .setKey(FieldKey.limit)
        .setSize(FieldSizes.half)
        .setTitle('Limitas'),
      new SelectField()
        .setKey(FieldKey.type)
        .setTitle('Tipas')
        .setSize(FieldSizes.half)
        .setItems([
          new SelectItem().setValue('non-selected').setTitle('Be filtro'),
          new SelectItem().setValue('schedule').setTitle('Dar neivykusios rungtynės'),
          new SelectItem().setValue('results').setTitle('Ivykusios rungtynės'),
        ]),
      new SelectField()
        .setKey(FieldKey.teamOne)
        .setSize(FieldSizes.half)
        .setTitle('Pirmos komandos pavadinimas')
        .setItems([
          new SelectItem().setValue('non-selected').setTitle('Be filtro'),
        ]),
      new SelectField()
        .setKey(FieldKey.teamTwo)
        .setSize(FieldSizes.half)
        .setTitle('Pirmos komandos pavadinimas')
        .setItems([
          new SelectItem().setValue('non-selected').setTitle('Be filtro'),
        ]),
    ])
    .setInitialValues({
      [FieldKey.shortcodeType]: 'non-selected',
      [FieldKey.sport]: 'non-selected',
      [FieldKey.name]: 'non-selected',
      [FieldKey.ratingSportType]: 'non-selected',
      [FieldKey.trackerSportType]: 'non-selected',
      [FieldKey.depositMethod]: 'non-selected',
      [FieldKey.cryptoDeposit]: 'non-selected',
      [FieldKey.bookmakerType]: 'non-selected',
      [FieldKey.additionalBettingSelections]: 'non-selected',
      [FieldKey.products]: 'non-selected',
      [FieldKey.establishedFrom]: 'non-selected',
      [FieldKey.showNew]: false,
      [FieldKey.showRestricted]: false,
      [FieldKey.showFirstOnly]: false,
      [FieldKey.hideShowMore]: false,
      [FieldKey.league]: 'non-selected',
      [FieldKey.season]: 'non-selected',
      [FieldKey.type]: 'non-selected',
      [FieldKey.teamOne]: 'non-selected',
      [FieldKey.teamTwo]: 'non-selected',
    })
    .setOnChange(() => {
      const type = _.get(this.form.data, 'shortcode-type')

      const typeField: Field | any = this.form.fields.find((field: Field) => field.key === 'shortcode-type')

      if (type === 'non-selected') {
        typeField.setSize(FieldSizes.full)
        this.setShortCode('')
        return
      }

      if (typeField.items.find((selectItem: SelectItem) => selectItem.value === type).type === SelectItemType.contentInside) {
        console.log(this.form.data.editor)
        const betweenShortcode = `${ type } ${ this.form.data.editor } [/${ type.slice(1, -1) }]`

        this.setShortCode(betweenShortcode)
        return
      }

      typeField.setSize(FieldSizes.half)

      this.data = _.cloneDeep(this.form.data)
      this.form.fields.map((field: Field) => {
        if (! field.visibleIf(this.form.data, null) || ! field.visibleIfAdditional) _.unset(this.data, field.key)
      })

      const generatedParamsInline = this.generateParameters(this.data)
      const params = generatedParamsInline.length === 0 ? generatedParamsInline : ` ${ generatedParamsInline }`

      const shortcode = `${ type.slice(0, -1) }${ params }]`

      this.setShortCode(shortcode)
    })

  created() {
    this.handleOnChange('non-selected', FieldKey.shortcodeType)
  }

  handleOnChange(value: any, key: string) {
    const enableFields: Field[] = this.form.fields.filter((field: Field) => field.key === key)
    const hideFields: Field[] = []

    switch (value) {
      case ShortcodeType.nonSelected:
        hideFields.push(...this.form.fields.filter((field: Field) => field.key !== key))
        break;
      case ShortcodeType.bookmakerListing:
      case ShortcodeType.topRatedBookmaker:
      case ShortcodeType.otherRatedBookmakers:
        enableFields.push(...this.form.fields)
        hideFields.push(
          this.getField(FieldKey.name),
          this.getField(FieldKey.displayType),
          this.getField(FieldKey.simpleTitle),
          this.getField(FieldKey.baseCurrency),
          this.getField(FieldKey.editor),
          this.getField(FieldKey.league),
          this.getField(FieldKey.season),
          this.getField(FieldKey.limit),
          this.getField(FieldKey.type),
          this.getField(FieldKey.teamOne),
          this.getField(FieldKey.teamTwo),
        )
        break;
      case ShortcodeType.singleBookmaker:
        enableFields.push(
          this.getField(FieldKey.sport),
          this.getField(FieldKey.name),
          this.getField(FieldKey.displayType),
          this.getField(FieldKey.ratingSportType),
          this.getField(FieldKey.trackerSportType),
          this.getField(FieldKey.showRestricted),
          this.getField(FieldKey.title),
        )
        break;
      case ShortcodeType.topRatedBookmakerBestSites:
      case ShortcodeType.otherRatedBookmakersBestSites:
      case ShortcodeType.cryptoQuotes:
        enableFields.push(
          this.getField(FieldKey.simpleTitle),
        )
        break;
      case ShortcodeType.cryptoCalculator:
        enableFields.push(
          this.getField(FieldKey.simpleTitle),
          this.getField(FieldKey.baseCurrency),
        )
        break;
      case ShortcodeType.guruShowMore:
      case ShortcodeType.mobileOnly:
      case ShortcodeType.desktopOnly:
        enableFields.push(
          this.getField(FieldKey.editor)
        )
        break;
      case ShortcodeType.guruSportData:
        enableFields.push(
          this.getField(FieldKey.league),
          this.getField(FieldKey.season),
          this.getField(FieldKey.limit),
          this.getField(FieldKey.type),
          this.getField(FieldKey.teamOne),
          this.getField(FieldKey.teamTwo),
        )
        break;
    }

    this.form.fields.map((item: Field) => item.setVisibleIfAdditional(false))
    enableFields.map((item: Field) => item.setVisibleIfAdditional(true))
    hideFields.map((item: Field) => item.setVisibleIfAdditional(false))
  }

  generateDates(): SelectItem[] {
    const year = new Date().getFullYear()
    const years: SelectItem[] = []

    for (let i = year; i >= 1990; i--) {
      years.push(
        new SelectItem().setValue(i).setTitle(i.toString())
      )
    }

    return years
  }

  generateParameters(data: any): string {
    let string = ''

    const filteredData = Object.keys(data)
      .filter((val: any) => _.get(data, val) !== 'non-selected' && _.get(data, val) !== '' && val !== 'shortcode-type' && _.get(data, val) !== null)

    filteredData
      .forEach((value: any, index: number) => {
        const foundField: any = this.form.fields.find((item: Field) => item.key === value)
        let shortcodeParameter = value

        if (foundField.shortcodeKey) shortcodeParameter = foundField.shortcodeKey

        let reformattedValue = _.get(data, value)

        if (foundField.type === FieldTypes.switch) reformattedValue = _.get(data, value).toString().toUpperCase()

        string += `${ shortcodeParameter }="${ reformattedValue }"`
        if (index !== filteredData.length - 1) string += ' '
      })

    return string
  }

  setShortCode(value: string) {
    this.shortcode = value
  }

  generate() {
    (window as any).send_to_editor(this.shortcode)
    this.dialog = false
  }

  copy() {
    const container: any = document.querySelector('.v-dialog')

    this.$copyText(this.shortcode, container)
  }

  getField(key: string): any {
    return this.form.fields.find((item: Field) => item.key === key)
  }
}
</script>

