$lightColor: #d7e3ff;
$blueColor: #4873db;
$blackColor: #1a163d;

.guru-shortcodes-plugin {
  @import "~vuetify/dist/vuetify.min";
  box-sizing: border-box;
  display: inline-block;
  background: transparent !important;

  .v-application {
    display: inline-block !important;
    background: transparent !important;

    &--wrap {
      min-height: auto !important;
    }

    a {
      text-decoration: none;
    }
  }

  input[type=text]:focus, input[type=search]:focus, input[type=radio]:focus, input[type=tel]:focus, input[type=time]:focus, input[type=url]:focus, input[type=week]:focus, input[type=password]:focus, input[type=checkbox]:focus, input[type=color]:focus, input[type=date]:focus, input[type=datetime]:focus, input[type=datetime-local]:focus, input[type=email]:focus, input[type=month]:focus, input[type=number]:focus, select:focus, textarea:focus {
    box-shadow: none !important;
    border: 0 transparent !important;
  }
}
